.tableFixHead {
    overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
    height: 600px; /* gives an initial height of 200px to the table */
    
  }
  .tableFixHead thead th {
    position: sticky; /* make the table heads sticky */
    top: 0px; /* table head will be placed from the top of the table and sticks to it */
   
  }
  table {
    border-collapse: collapse; /* make the table borders collapse to each other */
    width: 50%;
    height: 150px;
    background-color: #adadad;
    
  }
  th,
  td {
    padding: 8px 16px;
    border: 1px solid #ccc;
   
  }
  th {
    background: #eee;
    
  }
  
  
  
  body {
    background-image: url("pizza.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }



h1 {
  color: rgb(0, 0, 0);
  font-size: 70px;
  font-family: Brush Script MT, cursive;
  -webkit-text-stroke: 0.1px lightgray;
  justify-content: center;
  text-align: center;

    
}


/* The navigation bar */
.navbar {
    overflow: hidden;
    background-color: #638d3b;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 99%; /* Full width */
  }
  
  /* Links inside the navbar */
  .navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }
  .navbar-right {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 4px 16px;
    text-decoration: none;
  }

  /* Change background on mouse-over */
  .navbar a:hover {
    background: #ddd;
    color: black;
  }
.box{
    height:100px;
    width:100%;
    background-color: gray;
    
}
th, td {
  border: 1px solid black;
  
}
.right {
  vertical-align: center;
  border-radius: 10px;
  color:white;
  background-color:#638d3b;
  float:right;
  height:40px;
  width:80px;

}
.left1 {
 text-align: top;
 text-align:left;

}
.left {
  align-items:left;
  align-items:center;
  height:120px;
  width:120px;
  border-radius: 10px;
  border: 3px solid rgb(157, 157, 157);
}

.tableFixHeadlist {
  overflow-y: auto; /* make the table scrollable if height is more than 200 px  */
  height: 600px; /* gives an initial height of 200px to the table */
  position:absolute;
  

  
}
  .tableFixHeadList thead th {
  position: sticky; /* make the table heads sticky */
  top: 0px; /* table head will be placed from the top of the table and sticks to it */
  position:absolute;

}



.div {
  height: 200px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: rgb(223, 223, 223) rgb(112, 112, 112);
}

/* style vertical scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(67, 67, 67);
}

::-webkit-scrollbar-thumb {
  background-color: rgb(101, 101, 101);
  border-radius: 20px;
}
button:hover {
  background-color: white;
  color:black;

}
a.button {
  -webkit-appearance: button;
  -moz-appearance: button;
  appearance: button;

  text-decoration: none;
  outline: 1px black;
  color:rgb(0, 0, 0);
  background-color:#9b9b9b;
  height:40px;
  width:80px;
}
