html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    
}

body{
    width: 100%;
    height: 100vh;
    background: url(background.jpeg) center;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.content{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    text-align: center;
    font-style: italic;
}

.content h1{
    font-size: 70px;
    margin-top: 50px;
}

.titleMario{
    color: green;
    font-size: 70px;
    font-family: Brush Script MT, cursive;
    -webkit-text-stroke: 1px #1a4900;

}

.titleAnd{
    color: white;
    font-size: 70px;
    font-family: Brush Script MT, cursive;
    -webkit-text-stroke: 1px #909090;
}

.titleLuigi{
    color: red;
    font-size: 70px;
    font-family: Brush Script MT, cursive;
    -webkit-text-stroke: 1px #980000;
}

button{
    width: 250px;
    padding: 20px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #ffc869;
    background: transparent;
    color: rgb(0, 0, 0);
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span{
    background: #ffd48a;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span{
    width: 100%;
}

button:hover{
    border: none;
}

.buttonTakaAway{
    font-size: 18px;
    -webkit-text-stroke: 0.5px #000000;
}

.buttonDelivery{
    font-size: 18px;
    -webkit-text-stroke: 0.5px #000000;
}

.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 20;
    background-color: #ffd48a;
    color: black;
    text-align: left;
}