<!DOCTYPE html>
<html lang="en">
<head>
    <title>Menu</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="styles.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/> 

</head>
<body>
    <div class="navbar">
    </div>
    <h1 class="mainTitle">Menu</h1>
    <div class="container">
        <div class="pizzasBox">
            <h2>Pizzas</h2>
            <form action="{{url_for('submitall')}}" method='post'>
                <label class="product" for="quantity">1. Pepperoni/Peperoni:</label>
                <input class="num" type="number" id="quantity" name="quantity1" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">2. Hawaï:</label>
                <input class="num" type="number" id="quantity" name="quantity2" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">3. Seafood pizza/Pizza di Pesce:</label>
                <input class="num" type="number" id="quantity" name="quantity3" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">4. Four cheese pizza/Quattro Formaggi:</label>
                <input class="num" type="number" id="quantity" name="quantity4" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">5. Veggie pizza/Pizza Vegetarian:</label>
                <input class="num" type="number" id="quantity" name="quantity5" min="1" max="5"><br><br><br>
            </form>
        </div>
        <div class="drinksBox">
            <h2>Drinks</h2>
            <form action="/quantityDrinks">
                <label class="product" for="quantity">1. Coca-Cola:</label>
                <input class="num" type="number" id="quantity" name="quantity6" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">2. Sprite:</label>
                <input class="num" type="number" id="quantity" name="quantity7" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">3. Pepsi:</label>
                <input class="num" type="number" id="quantity" name="quantity8" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">4. Heineken:</label>
                <input class="num" type="number" id="quantity" name="quantity9" min="1" max="5"><br><br><br>

                <label class="product" for="quantity">5. Corona</label>
                <input class="num" type="number" id="quantity" name="quantity10" min="1" max="5"><br><br><br>
            </form>

            <div>
                <button class="goButton" type="button"><span></span>Go</button>
            </div>
            
        </div>
    </div>
</body>
</html>