html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    justify-content: center;
}

.navbar {
    overflow: hidden;
    background-color: #638d3b;
    position: fixed; 
    top: 0;
    width: 99%; /* Full width */
}
  
  /* Links inside the navbar */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar b {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar b:hover {
    background: #ddd;
    color: black;
}
  /* Change background on mouse-over */
.navbar a:hover {
    background: #ddd;
    color: black;
}

body{
    width: 100%;
    height: 100vh;
    background: url(background.jpeg) center;
    background-attachment: fixed;
    background-size: cover;
}

.logo{
    cursor: pointer;
    width: 100px;
    height: 100px;
}

.mainTitle{
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-family: Brush Script MT, cursive;
    -webkit-text-stroke: 1px lightgray;
    justify-content: center;
    text-align: center;
    transform: translateY(60%);
}

.form-container{
    width: 450px;
    padding: 25px;
    border: 2px solid #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    transform: translateX(95%);
    background-color:rgba(255, 255, 255, 0.5);
}

.details{
    font-weight: bold;
}

.location{
    color: red;
    font-size: 12px;
    text-decoration: underline;
    cursor: pointer;
}

.checkbox{
    position: relative;
}

.sample{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border-color: #638d3b;
    transform: translateX(63%);
    font-weight: 500;
}

/* cashier site */

.CasierPagePizza{

    font-size: 18px;
    text-align: center;
    justify-content: center;
    border-color: #cb5a0f;
    transform: translateX(63%);
    font-weight: 500;
}

.CasierPageDrinks{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border-color: #cb5a0f;
    transform: translateX(63%);
    font-weight: 500;
}

.CasierPageTotal{
    font-size: 18px;
    text-align: center;
    justify-content: center;
    border-color: #cb5a0f;
    transform: translateX(63%);
    font-weight: 500;
}
