<html>
    <head>
        <style>
            table {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 23px;
                border-collapse: collapse;
            }
            table td, tr {
                padding: 0;
                text-align: center;
                vertical-align: middle;
            }
        </style>
        <title>Cashier website</title>
    </head>
    <body>
        <form action="/go-to-payment-method" method="post">
            <table cellspacing="0" cellpadding="0" border="0">
                {% for i in products_dict %}
                    <tr>
                        <td>{{i}}</td>
                        <td>{{products_dict[i]}}</td>
                        <td><input type="number" min="0" value="0" name="{{i}}"></td>
                    </tr>
                {% endfor %}
                <td colspan="3"><input type="submit" value="Go to payment"></td>
            </table>
        </form>
    </body>
</html>