html{
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
    overflow: hidden;
    justify-content: center;
}

body{
    width: 100%;
    height: 100vh;
    background: url(background.jpeg) center;
    background-attachment: fixed;
    background-size: cover;
}

.mainTitle{
    color: rgb(0, 0, 0);
    font-size: 70px;
    font-family: Brush Script MT, cursive;
    -webkit-text-stroke: 1px lightgray;
    justify-content: center;
    text-align: center;
    transform: translateY(58%);
}

.container{
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4em;
}

.paymentMethodBox{
    width: 26em;
    height: 20em;
    box-shadow: 5px 5px 25px black;
    padding: 10px 30px;
    border: 2px solid #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.5);
}

.totalPriceBox{
    width: 13em;
    height: 10em;
    box-shadow: 5px 5px 25px black;
    padding: 10px 30px;
    border: 2px solid #000000;
    border-radius: 15px;
    align-items: center;
    justify-content: center;
    background-color:rgba(255, 255, 255, 0.5);
}

.totalPrice{
    color: rgb(0, 0, 0);
    font-size: 25px;
    text-align: center;
    text-decoration: underline;
    text-decoration-color: #638d3b;
    text-decoration-thickness: 3px;
}

.price{
    text-align: center;
    font-size: 30px;
}

.text{
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
  /* Hide the browser's default radio button */
.text input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
  
  /* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}
  
  /* On mouse-over, add a background color */
.text:hover input ~ .checkmark {
    background-color: #ffd48a91;
}
  
  /* When the radio button is checked, add a green background */
.text input:checked ~ .checkmark {
    background-color: #638d3b;
}
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  
  /* Show the indicator (dot/circle) when checked */
.text input:checked ~ .checkmark:after {
    display: block;
}
  
/* Style the indicator (dot/circle) */
.text .checkmark:after {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: white;
}

.options{
    font-size: 18px;
    cursor: pointer;
}

.sample{
    font-size: 24px;
    text-align: center;
    justify-content: center;
    border-color: #638d3b;
    transform: translateX(260%);
    font-weight: 500;
}