<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Mario and Luigi's pizzeria</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="homepage.css">
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}"/>
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <a href="https://youtu.be/dQw4w9WgXcQ?si=oP8twbgXB8Q12q37" target="_blank">
                    <img src="{{  url_for('static', filename='logo.png')  }}" class="logo">
                </a>
            </div>
            <div class="content">
                <div class="titleMario">
                    <h1>Mario</h1>
                </div>

                <div class="titleAnd">
                    <h1>and</h1>
                </div>
                
                <div class="titleLuigi">
                    <h1>Luigi's pizzeria</h1>
                </div>
                
                <div>
                    <a href="{{ url_for('choose_take_away') }}"><button class="buttonTakaAway" type="button"><span></span>Take away</button></a>
                    <a href="{{ url_for('choose_delivery') }}"><button class="buttonDelivery" type="button"><span></span>Delivery</button></a>
                </div>
            </div>
        </div>
    </body>
    <div class="footer">
        <p>Email: thebestpizzeria@gmail.com <br>
        Phone number: +31 1 23 45 67 89 <br>
        Location: Rachelsmolen 1, 5612 MA Eindhoven</p>
    </div>

</html>