<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Payment Method</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{{ url_for('static', filename='cashier payment method.css') }}"/>
    </head>
    <body>
        <h1 class="mainTitle">Payment Method</h1>

        <div class="container">
            <div class="paymentMethodBox">
                <label class="text">Cash
                    <input type="radio" checked="checked" name="radio">
                    <span class="checkmark"></span>
                </label>
                <label class="text">Card
                    <input type="radio" name="radio">
                    <span class="checkmark"></span>
                </label>
                <ul>
                    <li class="options">iDEAL</li>
                    <li class="options">PayPal</li>
                    <li class="options">Credit Card</li>
                </ul>
            </div>
            <div class="totalPriceBox">
                <p class="totalPrice">Total Price:</p>
                <p class="price">{{ price }}$</p>
            </div>
        </div>
        <a href="{{ url_for('go_to_order_number_cashier') }}"><input class="sample" type="submit" value="Place the order"></a>
    </body>
</html>