<!DOCTYPE html>
<html>
    <head>
        <title>order list</title>
        <link rel="stylesheet" href="liststyles.css">
        
    </head>
    <body>
        <div class="navbar">
            <a href="#home"><img src="pizza-slice-on-transparent-background-png.webp" height="70px" width="70px" ></a>
        </div>
        <center>
            <br><br><br>
            <h1>order screen</h1>    
        
            <button type="button" class="collapsible">order {{ order number }}</button>
            <div class="content">
                <list>
                    Customer number {{ order number }} has ordered:
                    {{ order }}
                </list>
            </div>

        </Center>
        
        <script>
            var coll = document.getElementsByClassName("collapsible");
            var i;
            
            for (i = 0; i < coll.length; i++) {
              coll[i].addEventListener("click", function() {
                this.classList.toggle("active");
                var content = this.nextElementSibling;
                if (content.style.display === "block") {
                  content.style.display = "none";
                } else {
                  content.style.display = "block";
                }
              });
            }
        </script>
    </body>
</html>