<!DOCTYPE html>
<html>
<head>
    <title>Data</title>
</head>
<body>
    <h1>Order Number: {{ order_number }}</h1>

    <h2>Pizzas:</h2>
    <ul>
        {% if pizza1 %}
        <li>Pepperoni {{ pizza1 }}</li>
        {% endif %}
        {% if pizza2 %}
        <li>Hawaï {{ pizza2 }}</li>
        {% endif %}
        {% if pizza3 %}
        <li>Seafood pizza {{ pizza3 }}</li>
        {% endif %}
        {% if pizza4 %}
        <li>Four cheese pizza {{ pizza4 }}</li>
        {% endif %}
        {% if pizza5 %}
        <li>Veggie pizza {{ pizza5 }}</li>
        {% endif %}
    </ul>

    <h2>Drinks:</h2>
    <ul>
        {% if drinks1 %}
        <li>Coca-Cola {{ drinks1 }}</li>
        {% endif %}
        {% if drinks2 %}
        <li>Sprite {{ drinks2 }}</li>
        {% endif %}
        {% if drinks3 %}
        <li>Pepsi {{ drinks3 }}</li>
        {% endif %}
        {% if drinks4 %}
        <li>Heineken {{ drinks4 }}</li>
        {% endif %}
        {% if drinks5 %}
        <li>Corona  {{ drinks5 }}</li>
        {% endif %}
    </ul>
</body>
</html>
