<!DOCTYPE html>
<html>
<head>
    <title>CSV Data Storage</title>
</head>
<body>
    <h1>CSV Data Storage</h1>
    <form action="/submit" method="post">
        <input type="text" name="column1" placeholder="Enter data for Column 1">
        <br>
        <input type="text" name="column2" placeholder="Enter data for Column 2">
        <br>
        <input type="text" name="column3" placeholder="Enter data for Column 3">
        <br>
        <!-- Add more input fields for additional columns -->
        <input type="submit" value="Submit">

    </form>

    <form action="/data" method="get">
        <button type="submit">Go to data</button>
    </form>
</body>
</html>
